/* This can be applied to configuration header objects to space them from the
 * items that come before them in the flow; good for separation of config
 * groups. */
.config-header-spacing {
  padding-top: 32px;
}
